{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
 {% block content %}
 <section class="hero is-fullheight home-page">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div id="tile home-pageimg">
                <img src="{% static 'images/main.jpg' %}">    
             </div>
          
             <div class="tile is-4 homepagediv-text" > 
                 <div id="homepage-text">
                    <h2>Wallet Warrior</h2>
                    <p>The ultimate budget tracking and savings app. With our user-friendly interface, you can easily set financial goals, track your spending, 
                        and save money. Our currency conversion feature allows you to convert your currency into any currency of your choice. 
                        Also, our weather feature keeps you informed of the weather in your destination country. Download Wallet Warrior today and take control of your finances! 
                    </p>
                </div>
            </div>
        </div>
        
      </div>
  </section>
 

{% endblock %}