{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
 {% block content %}
  

 <div class="container max-width tile is-ancestor home-page">
 
   <div col-12 class="home-page-div" id="home-pageimg">
      <img src="https://images.pexels.com/photos/5849592/pexels-photo-5849592.jpeg">
           
   </div>

   <div class="tile is-4 home-page-div homepagediv-text" >
    
        
       <div class="col-md-6 col-sm-12 col-lg-6" id="homepage-text">
        <h2>Wallet Warrior</h2>
        <p>The ultimate budget tracking and savings app. With our user-friendly interface, you can easily set financial goals, track your spending, and save money. Our currency conversion feature allows you to convert your currency into any currency of your choice. Also, our weather feature keeps you informed of the weather in your destination country. Download Wallet Warrior today and take control of your finances! </p></div> </p></div>
   </div>
 </div>
 

{% endblock %}