{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section">
    <div class="container">
        <h2 class="subtitle">Hello {{ user.get_username }}</h2>
        <div class="buttons">
        <a class="button is-dark" href="{% url 'add_goal' %}">
            <strong>Create New Goal</strong>
        </a>
        </div>
        <h1 class="title">My Goals</h1>
        {% for goal in goals %}
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                    <a href="{% url 'goal_detail' goal.id %}" >{{ goal.goal_name }} </a>
                        <p class="subtitle is-7">Date: {{ goal.goal_timestamp }}</p>
                    </a>
                    </article>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
