.home-page{
    background-color: #003600;
    color: white;
    width:100%;
    height: 70vh;
    display:block;

}

.home-page-div {
   display: flex;
   top:0%;
   width:100%;
   height:auto;
   object-fit:cover;
}

#homepage-text{
    margin-top: 15%;
    justify-content: center;
    text-align: justify;
    padding:4rem; 
}

#homepage-text h2{
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
}

/* Error handling pages */
#section-404 {
    background-image: url('../images/404.jpg');
    background-size: cover;
    background-position: center center;
}

#section-403 {
    background-image: url('../images/403.jpg');
    background-size: cover;
    background-position: center center;
}

#section-500 {
    background-image: url('../images/500.jpg');
    background-size: cover;
    background-position: center center;
}

.section-error {
    justify-content: flex-end;
    align-items: flex-start !important;
}

.container-error { 
    background-color: black;
    padding: 1rem;
    width: 50%;
}

/* allauth form */
.allauth-form p {
    padding: .5rem 0;
}

.allauth-form input[type="text"], .allauth-form input[type="password"], .allauth-form input[type="email"], .allauth-form input[type="number"] {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    border-radius: 4px;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    padding: 0.5rem;
}

/* cashbook details */

.cashbook-details {
    margin: 1rem 0;
}

.buttons a:not(:first-child) {
    margin-left: 1rem;
}