{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">{% trans "Set Password" %}</h1>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set allauth-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button is-success" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
  </section>
{% endblock %}
