{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">{% trans "Sign Up" %}</h1>
  <h2 class="subtitle">
    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </h2>

  <form class="signup allauth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <br>
    <button class="button is-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
  </div>
  

</section>

{% endblock %}
