{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero is-success is-fullheight" id="section-500">
  <div class="hero-body section-error">
    <div class="container-error">
      <p class="title">
        500 Internal Server Error
      </p>
      <p class="subtitle">
        Sorry, our bad. It seems like we have a problem here. <br>Could you please come back later?
      </p>
      <a href="{% url 'home' %}" class="button is-success">Home Page</a>
    </div>
  </div>
</section>
{% endblock %}