{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Wallet Warriors</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static "images/logo.png" %}" alt="Logo">
            <p class="is-small">Wallet Warriors</p>
          </a>
          <!-- Nav Menu Button -->
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        {% if user.is_authenticated %}
        <div id="main-navbar" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              My Spending
            </a>
            
            <a class="navbar-item">
              My Goals
            </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" href="{% url 'account_logout' %}">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
          {% if user.is_authenticated %}
            <h3 class="is-centered">
              Welcome, {{ user.get_username }}
            </h3>
          {% endif %}
          {% else %}
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="{% url 'account_signup' %}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-success" href="{% url 'account_login' %}">
                  Log in
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </nav>

    <main class="container">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered is-small">
        <!-- Copyright -->
          <p>
            <strong>&copy; Wallet Warriors 2023</strong> by Budget Bandits. 
          </p>
          <p>Follow us for updates:</p>
                <span class="icon">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                </span>
                <span class="icon">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram"></i></a>
                </span>
                <span class="icon">
                    <a href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a>
                </span>
                <span class="icon">
                    <a href="https://www.youtube.com/" target="blank" rel="noopener"
                        aria-label="Visit out Youtube page (opens in new tab)"><i class="fab fa-youtube"></i></a>
                </span>
                <!-- Disclaimer -->
                <p>
                    <strong>Disclaimer: </strong>Budget Bandits are not providing financial advice of any kind and make no 
                    representations or warranties in this respect. Wallet Warriors is for the users personal use only.
                </p>
        </div>
    </footer>
    <script src="{% static '/js/navMenu.js' %}"></script>
</body>

</html>