{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
  <div>
    <div>
      <h1>
        {{ cashbook.book_title | safe }}
      </h1>
      <p> {{ cashbook.author }} | {{ cashbook.created_on }} </p>
    </div>
    <div>
      <div>
        <p><strong>Spend Category: </strong> {{ cashbook.book_category | safe }}</p>
        <p><strong>Spend items: </strong> {{ cashbook.spend_item | safe }}</p>
        <p><strong>Total: </strong> {{ cashbook.spend_amount | safe }}</p>
      </div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
{% if user.id == cashbook.author.id %}
<div>
  <a href="{% url 'update_cashbook' slug=cashbook.slug %}"><button class="button is-light">Edit Cashbook</button></a>
</div>
{% endif %}
{% endif %}
</div>
</div>
{% endblock %}