<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>My spending</h2>

    <div class="level is-mobile">
        <div class="level-left">
          
            <div class="level-item">
           
               <div>   
                <h3 class="heading has-text-centered"><strong>Date</strong></h3>            
                <ul>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                    <li>21.01.2022</li>
                  </ul>
               </div>
            </div>        
        </div>
    
   
        <div class="level-left">
            <div class="level-item">
                <div>
                    <h3 class="heading has-text-centered"><strong>Spend Item</strong></h3>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                        <li>Item 5</li>
                        <li>Item 6</li>
                        <li>Item 7</li>
                   </ul>
                </div>
            </div>
        </div>


        <div class="level-right">
          <div class="level-item">
            <div>
            <h3 class="heading has-text-centered"><strong>Spend Item</strong></h3>
            <ul>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
                <li>£ <span>500</span></li>
            </ul>
            </div>
          </div>
        </div>
       
</body>
</html>


