{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Update Cashbook</h1> <hr>
        {% if user.is_authenticated %}
        {% if user.id == cashbook.author.id %}
        <!-- This checks that the user is the original creator of the cashbook -->
        <h2 class="subtitle">Have some changes to make?</h2>

        <form class="allauth-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <div class="buttons">
                <button class="button is-light" type="submit">Update</button>
                <a href="{% url 'cashbook_detail' cashbook.slug %}" class="button is-danger">Cancel</a>
            </div>
        </form>
        {% else %}
        <h2>You do not have permission to update {{ cashbook.book_title }} as you are not the creator.</h2>
        <hr>
        <p>To view your created cashbooks, please click <a href="{% url 'my_cashbooks' %}">here</a>.</p>
        {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}